@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Property Details";
}

    <section id="property-details">
        <div class="container padding-50">

            <div class="col-md-12">
                <h4><strong>ABC House and Lot - Makati City</strong></h4>
            </div>
            <br />

            <div class="col-md-7">

                <div class="row">
                    <div class="col-md-12">
                        <img alt="image" src="@Url.Content("~/Content/img/home/img-property.png")" class="img-responsive">
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-4"><img alt="image" src="@Url.Content("~/Content/img/home/img-property.png")" class="img-responsive"></div>
                    <div class="col-md-4"><img alt="image" src="@Url.Content("~/Content/img/home/img-property.png")" class="img-responsive"></div>
                    <div class="col-md-4"><img alt="image" src="@Url.Content("~/Content/img/home/img-property.png")" class="img-responsive"></div>
                </div>

                <br />
                <div class="row padding-20">
                    <div class="box container-fluid">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Property Name:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-right"><strong>ABC House and Lot - Makati City</strong></p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Lot Size:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-right"><strong>130 sqm</strong></p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Floor Area Size:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-right"><strong>100 sqm</strong></p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Description</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-1">

            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Market Value</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-right color-blue font-30"><strong>PHP 1.5 M</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Ticket Price</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-right color-blue font-30"><strong>250</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Number of tickets bought</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="color-red pull-right font-60"><strong>1250</strong></p>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Status</p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-green">
                                        <center> <p class="color-white font-60">DRAWING</p></center>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>