@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Forgot Password";
}

<section id="forgotpassword" class="bg-login">
    <div class="at-account-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">

                    <div class="box-white">
                        <center><h2>Forgot Password</h2></center>
                        <br />
                        <br />
                        <form>
                            <small>Enter the email address associated with your account.</small>
                            <input type="text" class="form-control" placeholder="Email Address">
                            <br />
                            <br />
                            <div class="text-center">
                                @Html.ActionLink("Reset Password", "Login", "Home", null, new { @class = "btn btn-default hvr-bounce-to-right" })
                                <br />
                                <br />
                                <center><p>@Html.ActionLink("Back", "Login", "Home", null, new { @class = "font-black" })</p></center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>