@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Drawlots";
}

<div class="bg-banner bg-banner-50">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="padding-100">
                <center>
                    <h2 class="font-white">RAFFLE LOTS RUNNING</h2>
                    <h1 class="font-white">001</h1>
                </center>
            </div>
        </div>
        <div class="col-md-3"></div>


        <br />
    </div>
</div>

<section id="home-properties">
    <div class="container padding-50">
        <div class="row">
            <p><strong>HOME PROPERTIES</strong></p>
        </div>        
        <div class="row">
            <div class="col-md-3">
                <div class="box-white">
                    
                    <img alt="blog" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">
                    <div class="container">
                        <table>
                            <tr>
                                <td>Property type</td>
                                <td classe="pull-right">Apartment</td>
                            </tr>
                            <tr>
                                
                            </tr>
                           
                        </table>
                    </div>
                </div>


            </div>

            <div class="col-md-3">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">4</div>
        </div>
    </div>
</section>