@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Login";
}

<section id="login" class="bg-login">
    <div class="at-account-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">

                    <div class="box-white">
                        <center><h2>User Login</h2></center>
                        <br />
                        <br />
                        <form>
                            <input type="text" class="form-control" placeholder="Username">
                            <input type="password" class="form-control" placeholder="Password">
                            @*@Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @class = "form", @required = "required" })*@
                            @*<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>*@
                            <div class="checkbox clearfix">
                                <label class="pull-left">
                                    <input type="checkbox"> Remember Me
                                </label>
                                <p class="pull-right">
                                    @Html.ActionLink("Forgot Password", "ForgotPassword", "Home", null, new { @class = "font-black" })
                                </p>
                            </div>
                            <div class="text-center">
                                @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-default hvr-bounce-to-right" })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>