@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="at-property-sec at-property-right-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="at-sec-title at-sec-title-left">
                        <h2>Mechanics</h2>
                        <div class="at-heading-under-line">
                            <div class="at-heading-inside-line"></div>
                        </div>
                    </div>


                    <div class="at-property-details-col">
                        <h4>How it works?</h4>
                        <ol>
                            <li>
                                Each home to be raffled on the DrawLots platform will be allocated a total of two thousand tickets; the price of each ticket equivalent to 0.1% of the home’s listed selling price.
                            </li>
                            <li>
                                Raffle tickets are to be purchased solely from the DrawLots website. All participants must register for a DrawLots accounts in order to purchase tickets. Each contestant may purchase a maximum of five tickets per raffle.
                            </li>
                            <li>
                                A winner for a specific raffle will be drawn, using a quantum random number generator, once the two thousand tickets for that specific raffle have been sold. All participants of that specific raffle will be notified once a winner has been drawn.
                            </li>
                            <li>
                                A winner will have thirty days to pay the 20% winner’s tax, as prerequisite to claiming the raffle prize. Failure to do so will deem the raffle prize forfeited, and a new winner will be drawn from the remaining raffle tickets.
                            </li>
                            <li>
                                DrawLots will facilitate the entire legal process in partnership with the real estate developer and brokerage in order to ensure a smooth transfer of ownership.
                            </li>
                        </ol>

                        <br />

                        <h4>Who can join?</h4>
                        <ol>
                            <li>
                                All raffles are open to all Filipino citizens, regardless of current residency.
                            </li>

                            <li>
                                Foreign nationals will be permitted to participate in raffles for condominiums for as long as the number of units owned does not exceed the 40% maximum allocation of the development.
                            </li>

                            <li>
                                Employees of DrawLots, the real estate developer and brokerage, its affiliates or subsidiaries, including relatives up to the second degree of affinity or consanguinity, or anyone professionally connected with the program are disqualified from joining.
                            </li>
                        </ol>

                        <br />
                        <h4>What is a quantum randomizer?</h4>
                        <p>
                            Similar to conventional random number generators (RNGs), a quantum RNG generates a number within a specific range. Conventional RNGs can only mimic randomness through complex equations because of how algorithms are designed to work using traditional hardware. Quantum RNGs are truly random because they make use of quantum physics, specifically the unpredictability of photons until they are observed, making it impossible to predict or force a specific outcome.
                        </p>


                    </div>
                    <br />

                </div> <!--col-12 End-->



            </div>
        </div>
    </section>