body {
    padding-top: 50px;

}

.bg-banner-50 {
    height: 30em;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /*margin-top: 31px;*/
    background-color:#808080;
}

.box {
    background-color: #ffffff;
    padding: 40px 50px 40px 50px;
    margin: auto;
}

.box-2 {
    background-color: #ffffff;
    padding: 40px 0px 40px 0px;
    margin: auto;
}

.box-white {
    background-color: #ffffff !important;
    box-shadow: 3px 3px 3px 3px #e4e4e4 !important;
    /*height: 550px;*/
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.font-black {
    color: #222222;
}

.font-white {
    color: #ffffff;
}

