@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Registration";
}


    <div class="container">

        <form class="form-signin padding-100">
            <div class="box">
                <center><h3 class="form-signin-heading">Registration</h3></center>
                <br />
                <label for="inputEmail" class="sr-only">Email address</label>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Dropdown Example
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
                <br />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
                <br />
                <center><p>@Html.ActionLink("Back", "Index", "Home", null, new { @class = "font-black" })</p></center>
            </div>
        </form>

    </div>